.navbar{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: #fdfbfb;
    width: 80%;
    margin: auto;
    position: relative;
}

.navbar_logo{
    color: black;
}

.navbar_logo> .large_font{
    font-size: 40px;
    font-weight: bold;
}

.navbar_logo .small_font{
    font-size: 25px;
    font-weight: bold;
}

.navbar_items{
    display: flex;
    list-style: none;
    gap: 1.6rem;
    align-items: center;
}

.navbar_items>li>img{
    border-radius: 30px;
}

.mobile_link>li>img{
    border-radius: 30px;
}

.navbar_items> .currency{
    font-size: 17px;
    color: black;
}

.navbar_items>li>button{
    padding: 0.9rem;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: #fff;
}

.mobile_link>li>button{
    padding: 0.9rem;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: #fff;
}

.mobile_link{
    display: none;
    list-style: none;
    gap: 1.5rem;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: rgb(7, 45, 7);
    color: #fff;
    list-style: none;
    gap: 1.6rem;
    align-items: center;
    transition: 0.4s all ease;
}

.mobile_link>li{
    color: #fff;
}

.toggle_button{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
   
}

.toggle_button>a{
    color: black;
    

}

.menu_icon{
    font-size: 27px;
}

@media screen and (max-width: 700px){

    .navbar{
        width: 100%;
    }
    .navbar_items{
        flex-direction: column;
        background-color: rgb(3, 48, 3);
        margin-top: 1rem;
        height: 50vh;
        display: none;
    }

    .toggle_button{
        display: block;
    }

    .navbar_items{
        flex-direction: column;
        width: 100%;
    }

    .navbar_items>li{
        padding: .5rem;
    }

    .mobile_link{
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
        height: 30vh;
        justify-content: center;
        background-color: rgb(9, 53, 9);
    }


    .mobile_link>li{
      transition: all 1s ease;
    }

    .mobile_link>li:hover{
        transform: scale(1.1);
    }
}